body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1900px;
  margin: 0 auto;
  box-sizing: border-box;
}
.padding-site {
  padding: 50px;
}
header {
  background: url(../img/header.jpg) no-repeat center center;
  background-position: cover;
  width: 100%;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.header-nav {
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  margin: 0 170px 0 0;
}
.logo-svg {
  fill: currentColor;
}
.logo-txt {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}
.logo:hover {
  color: #998675;
}
.header-nav ul {
  display: flex;
  margin: 0;
}
.header-nav ul li {
  list-style: none;
  margin: 0;
  padding: 20px 15px 0 15px;
}
.header-nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.header-nav ul a:hover {
  color: #c7b299;
}
.header-nav ul a:active {
  color: #ec7a08;
}
.btn-cart {
  width: 24px;
  height: 24px;
  background-image: url(../img/icon_cart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin: 15px 10px 0 45px;
  outline: none;
}
.btn-cart:hover {
  background-color: #524e49;
  border-radius: 25px 25px 25px 0;
}
input[type="search"] {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url(../img/icon_search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin: 15px 0 0 10px;
}
input[type="search"]:focus {
  width: 150px;
  transition: width 1s ease-out;
  background-position: right;
}
.header-context {
  margin: 270px auto 0 auto;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-context .slider-arrow {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  min-height: 550px;
  width: 40px;
  height: 73px;
  position: relative;
}
.slider-arrow__right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -36px;
  margin: 60px 0 0 15px;
  box-sizing: border-box;
}
.slider-arrow__left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(-130deg);
  position: absolute;
  top: 10px;
  left: -5px;
  margin: 60px 0 0 15px;
  box-sizing: border-box;
}
.slider-arrow:hover:after {
  border-top: 2px solid #9d9da0;
  border-right: 2px solid #9d9da0;
}
.slider-arrow:active:after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.header-context__text {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.h2 {
  display: block;
  font-size: 36px;
  font-family: Releway, sans-serif;
  font-weight: 500;
}
.h1 {
  display: block;
  font-size: 52px;
  font-family: Releway, sans-serif;
  font-weight: 800;
}
.header-context__text p {
  max-width: 540px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 24px;
  font-weight: 300;
}
.header-context__text .btn-start {
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  padding: 12px 25px;
  background-color: #998675;
  border-radius: 3px;
  margin: 15px 0 0 0;
}
.header-context__text .btn-start:hover {
  background-color: #9d9da0;
}
.header-context__text .btn-start:active {
  color: #524848;
}
.pagination {
  width: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid transparent;
}
.pagination-item:hover {
  background-color: transparent;
  border: 2px solid #c7b299;
  transform: scale(1.2);
}
