body{
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.padding-site {
  padding: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #445162;
  font-family: 'Open Sans', sans-serif;
}
.mainTitle {
  display: block;
  font-size: 32px;
  margin: 0 0 10px 0;
  color: #ffffff;
}
.header ul {
  margin: 0 0 0 40px;
  padding: 0;
}
.header ul li {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 36px;
  font-family: 'Open Sans', sans-serif;
}
.productInfo__listItem {
  position: relative;
}
.productInfo__listItem::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  background-image: url(../img/check_icon.png);
  background-repeat: no-repeat;
  left: -35px;
  top: 5px;
}
.productImg {
  display: block;
  min-width: 100px;
  height: auto;
}
.aboutProduct {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #445161;
}
.aboutProduct p {
  margin: 0 0 15px 0;
}
.productVideo video{
  display: block;
  /*min-width: 100px;
  height: 150px;*/
  background-color: #445162;
}
.secondTitle {
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.productPluses {
  background-color: #f5f5f5;
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productPluses span {
  text-align: center;
}
.productPluses ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 0 0 36px;
  margin: 0;
}
.productPluses ul li {
  list-style: none;
  margin: 0 10px;
  box-sizing: border-box;
}
.productPluses__listItem {
  position: relative;
}
.productPluses__listItem::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/plusicon.jpg);
  background-repeat: no-repeat;
  left: -45px;
  top: 5px;
}
.productScreenshots {
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productScreenshots span {
  text-align: center;
}
.productScreenshots__descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.productScreenshots figure {
  display: flex;
  margin: 0;
}
.productScreenshots figure img {
  display: block;
  background-color: #445161;
  margin: 0 20px 0 0;
}
.productScreenshots figure figcaption h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
.productReviews {
  background-color: #f5f5f5;
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productReviews span {
  text-align: center;
}
.productReviews__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.productReviews__block__review {
  display: flex;
}
.productReviews__block__review img {
  display: block;
  
  width: 75px;
  height: 75px;
  border-radius: 38px;
  margin: 0 30px 0 0;
}
.productReviews__block__reviewText {
  background-color: #ebebeb;
  border-radius: 5px;
  position: relative;
}
.productReviews__block__reviewText::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: #ebebeb;
  transform: rotate(45deg);
  left: -10px;
  top: 27px;
}
.productReviews__block__reviewText blockquote{
  margin: 10px 20px 10px 30px;
}
.productReviews__block__reviewText cite {
  display: block;
  margin: 0 0 10px 40px;
  color: #989898;
}
.buyIt-block{
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.buyIt-block .secondTitle{
  text-align: center;
}
.buyIt-block__columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.buyIt-block__columns__column{
  width: 24%;
  max-width: 300px;
  height: 50%;
  background-color: #445162;
  padding: 16px 0 20px 0;
  border-radius: 7px;
}
.buyIt-block__columns__column span{
  display: block;
}
.buyIt-block__columns__column .buyIt__columnTitle{
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  margin:0 0 16px 0;
}
.buyIt-block__columns__column .buyIt__columnPrice {
  background-color: #ffffff;
  border: 1px solid #445162;
  color: #445162;
  font-family: "Arial MT";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 18px 0 18px 0;
  
}
.buyIt-block__columns__column ol {
  list-style-position: inside;
  margin: 20px 25px;
  padding: 0;
}
.buyIt-block__columns__column ol li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.buyIt-block__columns__column .BuyIt__button {
  display: inline-block;
  text-decoration: none;
  color: #445161;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: 5%;
}
.buyIt-block__columns__column .BuyIt__button:hover {
  color: #a8a2a2;
  outline: none;
}
.buyIt-block__columns__column .BuyIt__button:active {
  outline:none;
  color: #b92323;
}
.footerContacts{
  background-color: #445161;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.footerContacts span{
  text-align: center;
}
.footerContacts__FormAndIcons{
  display: flex;
  justify-content: center;
 /* padding: 40px;*/
}
.footerContacts__FormAndIcons .form-area {
  text-align: end;
  margin:0 30px 0 0;
}
.footerContacts__FormAndIcons .form-area input {
  box-sizing: border-box;
  display: block;
  color: #030303;
  border-radius: 5px;
  width: 490px;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
}
.footerContacts__FormAndIcons .form-area textarea {
  box-sizing: border-box;
  display: block;
  color: #030303;
  border-radius: 5px;
  width: 490px;
  height: 160px;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
}
.footerContacts__FormAndIcons .form-area .submitButton {
  color: #445162;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  width: 140px;
  height: 40px;
  border: none;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0;
}
.footerContacts__FormAndIcons .form-area .submitButton:hover {
  color: #899bb3;
  background-color: #ffffff;
  outline: none;
}
.footerContacts__FormAndIcons .form-area .submitButton:active {
  border: 1px solid #333333;
  color: #b92323;
  outline: none;
}
.contactslist{
  margin: 20px 0 0 0;
}
.contactslist span{
  display: block;
  text-align: start;
  margin: 0 0 25px 40px;
  position: relative;
}
.contactslist__icon:before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 27px;
  background-repeat: no-repeat;
  left: -35px;
  bottom: 1px;
}
.contactslist .iconSkype:before {
  background-image: url(../img/skype_icon.png);
}
.contactslist .iconIcq:before {
  background-image: url(../img/icq_icon.png);
}
.contactslist .iconEmail:before {
  background-image: url(../img/email_icon.png);
}
.contactslist .iconPhone:before {
  background-image: url(../img/phone_icon.png);
}
.sotialIconsList a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 5px;
}
.sotialIconsList a i {
  font-size: 40px;
}
.sotialIconsList a:hover {
  color: #899bb3;
}
.footerCopyright {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 0;
}
.footerCopyright p {
  font-size: 14px;
  color: #445161;
  margin: 5px;
}