.container {
  max-width: 1280px;
  margin: 0 auto;
}
.padding-site {
  padding: 50px;
}
.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  background-color: #445162;
  font-family: 'Open Sans', sans-serif;
}
.mainTitle {
  display: block;
  font-size: 32px;
  margin: 0 0 10px 0;
  color: #ffffff;
}
.header ul {
  margin: 0 0 0 40px;
  padding: 0;
}
.header ul li {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 36px;
  font-family: 'Open Sans', sans-serif;
}
.productInfo__listItem {
  position: relative;
}
.productInfo__listItem::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  background-image: url(img/check_icon.png);
  background-repeat: no-repeat;
  left: -35px;
  top: 5px;
}
.productImg img {
  display: block;
  width: 350px;
  height: 180px;
  background-color: white;
}
.aboutProduct {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 100px;

  font-family: 'Open Sans', sans-serif;
  color: #445161;
}
.productVideo video {
  display: block;
  width: 300px;
  height: 180px;
  background-color: #445162;
}
.secondTitle {
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.productPluses {
  background-color: #f5f5f5;
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productPluses span {
  text-align: center;
}
.productPluses ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 0 0 36px;
}
.productPluses ul li {
  list-style: none;
  margin: 0 10px;
}
.productPluses__listItem {
  position: relative;
}
.productPluses__listItem::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(img/plusicon.jpg);
  background-repeat: no-repeat;
  left: -45px;
  top: 5px;
}
.productScreenshots {
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productScreenshots span {
  text-align: center;
}
.productScreenshots__descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.productScreenshots figure {
  display: flex;
  margin: 0;
}
.productScreenshots figure img {
  display: block;
  width: 200px;
  height: 150px;
  background-color: #445161;
  margin: 0 20px 0 0;
}
.productScreenshots figure figcaption h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
.productReviews {
  background-color: #f5f5f5;
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.productReviews span {
  text-align: center;
}
.productReviews__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.productReviews__block__review {
  display: flex;
}
.productReviews__block__review img {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 38px;
  margin: 0 30px 0 0;
}
.productReviews__block__reviewText {
  background-color: #ebebeb;
  border-radius: 5px;
  position: relative;
}
.productReviews__block__reviewText::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: #ebebeb;
  transform: rotate(45deg);
  left: -10px;
  top: 27px;
}
.productReviews__block__reviewText blockquote{
  margin: 10px 20px 10px 30px;
}
.productReviews__block__reviewText cite {
  display: block;
  margin: 0 0 10px 40px;
  color: #989898;
}
.buyIt-block{
  color: #445161;
  font-family: 'Open Sans', sans-serif;
}
.buyIt-block .secondTitle{
  text-align: center;
}
.buyIt-block__columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.buyIt-block__columns__column{
  width: 24%;
  max-width: 300px;
  height: 50%;
  background-color: #445162;
  padding-top: 16px;
  padding-bottom: 20px;
  border-radius: 7px;
}
.buyIt-block__columns__column span{
  display: block;
}
.buyIt-block__columns__column .buyIt__columnTitle{
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}
.buyIt-block__columns__column .buyIt__columnPrice {
  background-color: #ffffff;
  border: 1px solid #445162;
  color: #445162;
  font-family: "Arial MT";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.buyIt-block__columns__column ol {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.buyIt-block__columns__column ol li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.buyIt-block__columns__column .button {
  display: inline-block;
  text-decoration: none;
  color: #445161;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-left: 5%;
}
.buyIt-block__columns__column .button:active {
  color: #050505;
}
.buyIt-block__columns__column .button:hover {
  color: #a8a2a2;
}
.footerContacts{
  background-color: #445161;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.footerContacts span{
  text-align: center;
}
.footerContacts__FormAndIcons{
  display: flex;
  justify-content: center;
 /* padding: 40px;*/
}
.footerContacts__FormAndIcons .form-area {
  text-align: end;
  margin:0 30px 0 0;
}
.footerContacts__FormAndIcons .form-area input {
  color: #030303;
  border-radius: 5px;
  width: 490px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
.footerContacts__FormAndIcons .form-area textarea {
  color: #030303;
  border-radius: 5px;
  width: 490px;
  height: 160px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
.footerContacts__FormAndIcons .form-area .button {
  color: #445162;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  width: 140px;
  height: 40px;
  border: none;
  margin-right: 180px;
  background-color: #ffffff;
  margin-bottom: 0;
}
.footerContacts__FormAndIcons .form-area .button:hover {
  color: #899bb3;
  background-color: #ffffff;
}
.footerContacts__FormAndIcons .form-area .button:active {
  border: 1px solid #333333;
}
.contactslist ul{
  padding: 0;
}
.contactslist ul li{
  list-style: none;
  font-weight: 400;
  line-height: 36px;
}
.contactslist ul li img{
  margin: 0 10px 0 0;
}
.sotialIconsList a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 5px;
}
.sotialIconsList a i {
  font-size: 40px;
}
.sotialIconsList a:hover {
  color: #899bb3;
}
.footerCopyright {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 0;
}
.footerCopyright p {
  font-size: 14px;
  color: #445161;
  margin: 5px;
}